{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>About Us</h1>
            <p>Welcome to our e-commerce shopping website! We are dedicated to providing high-quality products and excellent customer service to our valued customers.</p>

            <h6>Our Mission</h6>
            <p>At our company, our mission is to offer a wide range of products that meet the needs and preferences of our customers. We strive to ensure a seamless shopping experience and deliver products that exceed expectations.</p>

            <h6>Our Products</h6>
            <p>We curate a collection of the finest products, carefully selected to meet the highest standards of quality and style. From fashion and accessories to home goods and electronics, we have something for everyone.</p>

            <h6>Customer Satisfaction</h6>
            <p>Customer satisfaction is our top priority. We are committed to providing exceptional customer service and ensuring that each customer has a positive shopping experience. Our dedicated support team is available to assist with any inquiries or concerns.</p>

            <h6>Secure Shopping</h6>
            <p>Your security is important to us. We have implemented robust security measures to protect your personal information and ensure a safe and secure online shopping environment.</p>

            <!-- <h6>Contact Us</h6>
            <p>If you have any questions, feedback, or inquiries, please don't hesitate to reach out to our customer support team. We are here to assist you and provide the best possible shopping experience.</p> -->

            <p>Thank you for choosing our e-commerce shopping website. We appreciate your trust and look forward to serving you!</p>
        </div>
        <div class="col-md-4" style="margin-top: 100px;">
            <img src="https://en.pimg.jp/074/747/867/1/74747867.jpg" alt="Image" class="img-fluid">
        </div>
    </div>
</div>


{% endblock %}