{% extends 'base.html' %}

{% block content %}
<style>
   
</style>
<h1 class="text-center">Fashion Categories</h1>
<div class="container mt-5">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 mb-4">
            <div class="card">
              <a href="{% url 'product_detail' pk=product.pk %}"> 
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}"  height="320px">
              </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text text-truncate">{{ product.description }}</p>
                    <p class="card-text">Price: <i class="fa fa-inr"></i>{{ product.price }}</p>
                    <div class="d-flex justify-content-between">
                        <form method="POST" action="{% url 'add_to_wishlist' pk=product.id %}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">
                            <i class="fa fa-heart"></i>
                          </button>
                        </form>
                        <form method="POST" action="{% url 'add_to_cart' pk=product.id %}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-secondary">Add to Cart</button>
                        </form>
                      </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}